# Pastas que o computador não deve levar para o GitHub
node_modules/
.next/
out/
build/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configurações do Firebase que são só daqui
.firebase/
firebase-debug.log*
.firebaserc
